@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h1{
    margin:40px 25px;
    font-size: 2rem;
    font-weight: bold;
}
.span1{
    color: rgb(109, 24, 24);
    font-size: 2.2rem;
    
}
.span2{
    font-size: 2.7rem;
    letter-spacing: .1em;
}

h4{
    padding-left: 50px;
    margin: 20px;
    font-size: 1.3rem;
    animation-name: example;
    animation-duration: 3s;
    position: relative;
}
@keyframes example{
    0% {color: cadetblue; left: 0px; top: 0px;}
    50%{color: brown; left: 100px; top: 0px;}
    100%{color: rgb(7, 83, 20); left: 0px; top: 0px;}
}

h3{
    padding-left: 30px;
    font-size: 1rem;

}
p{
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.width-half{
   width: 40%;
   float: left;    
}

.width-half img{
    padding-left: 200px;
    padding-top: 50px;
    width: 90%;  
    border-radius: 40%;
 }

 section{
    padding: 20px;
    background-color: rgb(45, 99, 102);
    margin: -1%;
    height: 700px;
 }
a{
    margin: 20px 30px;
}
 .btn-hire{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
    border-radius: 10px;
    background-image: linear-gradient(45deg,tomato ,rgb(128, 34, 34));
    padding-top: 10px 30px;
    margin-top: 20px;
    animation-name: example1;
    animation-duration: 4s;
    position: relative;
 }
 
 @keyframes example1{
    0% {color: rgb(7, 64, 66); left: 0px; top: 0px;}
    50%{color: rgb(7, 7, 7); left: 50px; top: 0px;}
    100%{color: rgb(7, 8, 83); left: 0px; top: 0px;}
}

br{
    border: 100px solid red;
}

/* Section 2 start */


.width-half2 img{
    margin-top: 40px;
    padding-left: 40px;
    padding-top: 70px;
    width: 60%;  
    border-radius: 30%;
 }

 .width-half2{
    width: 40%;
    float: left;    
 }

 .section2{
    background-color: cadetblue;
 }
 /* .link-media{
     padding-left: 50px;
 } */
 .social-media-link{
    margin: 10px;
    text-decoration: none;
    color: white;
    margin: -4px;
    border-radius: 10px;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, rgb(209, 36, 6), rgb(14, 13, 13));
 }


 .social-media-link:hover{
    cursor: pointer;
    font-size: 1.1rem;
 }
/* Section 2 End */